.grid-container {
    display: grid;
    grid-template-columns:60% 40%;

    /*grid template info from https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout*/
    grid-template-areas: 
    "a a"
    "b c"
    "d d"
    "e e"
    "f f";
    margin: 1rem auto;
    max-width: 80%;
}

.grid-item-1 {
grid-area: a;
text-align: center;
padding: 1rem;
border-top: 1px solid black;  

}

.grid-item-2 {
grid-area: b;
padding: 1rem;
}

.grid-item-3 {
grid-area: c;
max-width: 50%;
justify-self: end;

/* HINT FROM: https://codepen.io/SteveClason/pen/pWaMMP */
img {
    width: 100%;
    height: 100%;}
}

.grid-item-4 {
grid-area: d;
padding: 1rem;
}

.grid-item-5 {
grid-area: e;
padding: 1rem;
}

.grid-item-6 {
grid-area: f;
padding: 1rem;
}


h1, h2, h3, h4 {
    font-size: 1rem;
}
